[Desktop Entry]
NoDisplay=true
Version=1.0
Terminal=false
Keywords[cs]=pcbnew;DPS;Obvod;Rozvržení;Návrh;Editor;Pouzdro;
Keywords[de]=pcbnew;PCB;Schaltung;Layout;Design;Editor;Footprint;
Keywords[el]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[en]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[es]=pcbnew;PCB;Placa;Circuito;Diseño;Editor;Huella;
Keywords[es_MX]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[fi]=pcbnew;PCB;Kytkentäkaavio; Asettelu;Suunnittelu;Editori;Jalanjälki;
Keywords[fr]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint ;
Keywords[it]=pcbnew;C.S.;Circuito;Disposizione;Disegno;Editor;Impronta;
Keywords[ja]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[ka]=pcbnew;PCB;Circuit;განლაგება;დიზაინი;რედაქტორი;Footprint;
Keywords[ko]=pcbnew;PCB;회로;레이아웃;디자인;편집기;풋프린트;
Keywords[nl]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[pl]=pcbnew;PCB;Układ;Projekt;Edytor;Footprint;
Keywords[pt]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[pt_BR]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[ru]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[sv]=pcbnew;Mönsterkort;Krets;Layout;Design;Redigerare;Fotavtryck;
Keywords[ta]=pcbnew; பிசிபி; சுற்று; தளவமைப்பு; வடிவமைப்பு; எடிட்டர்; தடம்;
Keywords[tr]=Baskı Devre Düzenleyici;Baskı Devre;Devre;Yerleşim;Tasarım;Düzenleyici;Ayak İzi;
Keywords[uk]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint';
Keywords[zh_CN]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords[zh_TW]=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Keywords=pcbnew;PCB;Circuit;Layout;Design;Editor;Footprint;
Icon=pcbnew
Type=Application
Categories=Science;Electronics;
Exec=pcbnew %f
StartupWMClass=pcbnew
MimeType=application/x-kicad-pcb;
Name[cs]=KiCad DPS editor (Samostatně)
Name[de]=KiCad Leiterplatteneditor (eigenständig)
Name[el]=Επεξεργαστής Σχεδίασης PCB
Name[en]=KiCad PCB Editor (Standalone)
Name[es]=Editor de placas de KiCad (independiente)
Name[es_MX]=Editor de placas de KiCad (independiente)
Name[fi]=KiCad Piirilevyeditori (Itsenäinen)
Name[fr]=Editeur de PCB KiCad (indépendant)
Name[he]=עורך מעגלים של KiCad (עצמאי)
Name[hu]=KiCad NYÁK tervező (Önálló)
Name[id]=Editor PCB KiCad (Standalone)
Name[it]=Editor di C.S. KiCad (autonomo)
Name[ja]=KiCad PCBエディター (スタンドアロン)
Name[ko]=KiCad PCB 편집기 (독립실행)
Name[nl]=Over naar KiCad PCB Editor (Standalone)
Name[pl]=Edytor obwodów drukowanych programu KiCad (Tryb samodzielny)
Name[pt]=Editor de PCI do KiCad (autônomo)
Name[pt_BR]=Editor de PCI do KiCad (autônomo)
Name[ru]=Редактор печатных плат KiCad (автономно)
Name[sv]=KiCad mönsterkortsredigerare (fristående)
Name[ta]=கிகாட் பிசிபி எடிட்டர் (தனித்தனி)
Name[th]=เครื่องมือแก้ไขพีซีบี KiCad (โดดเดี่ยว)
Name[tr]=KiCad Baskı Devre Düzenleyici (Bağımsız)
Name[uk]=KiCad редактор друкованих плат (Автономний)
Name[zh_CN]=KiCad PCB 编辑器 (独立版)
Name[zh_TW]=KiCad PCB 編輯器 (獨立版)
Name=KiCad PCB Editor (Standalone)
GenericName[cs]=Editor návrhu DPS
GenericName[de]=Leiterplatten-Layout-Editor
GenericName[el]=Επεξεργαστής Σχεδίασης PCB
GenericName[en]=PCB layout editor
GenericName[es]=Editor de placas
GenericName[es_MX]=Editor de placas
GenericName[fi]=Piirilevyeditori
GenericName[fr]=Éditeur de circuit imprimé
GenericName[he]=עורך מעגלים
GenericName[id]=Editor tata letak PCB
GenericName[it]=Progettazione C. S.
GenericName[ja]=PCBエディター
GenericName[ko]=PCB 레이아웃 편집기
GenericName[nl]=Editor voor printplaat ontwerp
GenericName[pl]=Edytor PCB
GenericName[pt]=Editor de layout da PCI
GenericName[pt_BR]=Editor de layout da PCI
GenericName[ru]=Редактор печатных плат
GenericName[sv]=Mönsterkortsredigerare
GenericName[ta]=பிசிபி தளவமைப்பு எடிட்டர்
GenericName[th]=เครื่องมือออกแบบพีซีบี
GenericName[tr]=Baskı Devre Yerleşim Düzenleyici
GenericName[uk]=Редактор шарів друкованих плат
GenericName[zh_CN]=PCB 布局编辑器
GenericName[zh_TW]=PCB 佈局編輯器
GenericName=PCB layout editor
Comment[cs]=Samostatný editor desky pro KiCad desky
Comment[de]=Eigenständiger Leiterplatteneditor für KiCad-Platinen
Comment[el]=Αυτόνομος επεξεργαστής κυκλωμάτων για πλακέτες KiCad
Comment[en]=Standalone circuit board editor for KiCad boards
Comment[es]=Editor de placas independiente para placas de KiCad
Comment[es_MX]=Editor de placas independiente para placas de KiCad
Comment[fi]=Itsenäinen piirilevyeditori KiCad alustoille
Comment[fr]=Éditeur indépendant de circuits imprimés pour les C.I. KiCad
Comment[it]=Editor di C.S. autonomo di KiCad
Comment[ja]=KiCad基板のPCBエディター(スタンドアロン)
Comment[ko]=KiCad 기판을 위한 스탠드얼론 회로 기판 편집기
Comment[nl]=Zelfstandige printplaateditor voor KiCad-printplaten
Comment[pl]=Samodzielny edytor obwodów drukowanych dla płytek tworzonych przez program KiCad
Comment[pt]=Editor de placa de circuito independente para placas KiCad
Comment[pt_BR]=Editor de placa de circuito independente para placas KiCad
Comment[ru]=Редактирование печатных плат KiCad в автономном режиме
Comment[sk]=Samostatný editor desky pro KiCad desky
Comment[sv]=Fristående mönsterkortsredigerare för KiCad-mönsterkort
Comment[ta]=கிகாட் போர்டுகளுக்கான முழுமையான சர்க்யூட் போர்டு ஆசிரியர்
Comment[th]=เครื่องมือแก้ไขวงจรพิมพ์สำหรับบอร์ด KiCad
Comment[tr]=KiCad kartları için bağımsız devre kartı editörü
Comment[uk]=Автономний редактор схем для KiCad друкованих плат
Comment[zh_CN]=独立版的 KiCad 电路板编辑器
Comment[zh_TW]=獨立版的 KiCad 電路板編輯器
Comment=Standalone circuit board editor for KiCad boards
X-AppStream-Ignore=true
