[Desktop Entry]
NoDisplay=true
Version=1.0
Terminal=false
Icon=pcbcalculator
Type=Application
Categories=Science;Electronics;
Exec=pcb_calculator
StartupWMClass=pcb_calculator
Name[cs]=KiCad DPS kalkulátor
Name[de]=KiCad PCB-Rechner
Name[el]=Εκτέλεση PCB Calculator
Name[en]=KiCad PCB Calculator
Name[es]=Calculadora de placas de KiCad
Name[es_MX]=Calculadora de placas de KiCad
Name[fi]=KiCad Laskintyökalut
Name[fr]=Calculateur pour PCB KiCad
Name[he]=מחשבון PCB KiCad
Name[id]=Kalkulator PCB KiCad
Name[it]=Calcolatrice per C.S. KiCad
Name[ja]=KiCad PCB 計算機
Name[ko]=KiCad PCB 계산기
Name[nl]=KiCad PCB-rekenhulpmiddel
Name[pl]=Kalkulator PCB programu KiCad
Name[pt]=Calculadora PCI do KiCad
Name[pt_BR]=Calculadora PCI do KiCad
Name[ru]=Калькулятор печатных плат KiCad
Name[sr]=KiCad PCB дигитрон
Name[sv]=KiCad Beräkningsverktyg
Name[ta]=கிகாட் பிசிபி கால்குலேட்டர்
Name[th]=เครื่องคิดเลขพีซีบีของ KiCad
Name[tr]=KiCad Baskı Devre Hesaplayıcı
Name[uk]=Калькулятор для друкованих плат KiCad
Name[vi]=Máy tính PCB KiCad
Name[zh_CN]=KiCad PCB 计算器
Name[zh_TW]=KiCad PCB 計算器
Name=KiCad PCB Calculator
Keywords[ca]=PCB;Calculadora;
Keywords[cs]=Kalkulátor DPS;
Keywords[de]=PCB;Rechner;
Keywords[el]=PCB;Calculator;
Keywords[en]=PCB;Calculator;
Keywords[es]=PCB;Placa;Calculadora;
Keywords[es_MX]=PCB;Calculator;
Keywords[fi]=PCB;Laskin;
Keywords[fr]=PCB;Calculateur;
Keywords[he]=מחשבון; PCB ;
Keywords[it]=C.S.;Calcolatrice;
Keywords[ja]=PCB;Calculator;
Keywords[ka]=PCB;კალკულატორი;
Keywords[ko]=PCB;계산기;
Keywords[lv]=PCB;Kalkulators;
Keywords[nl]=PCB;Rekenhulpmiddel;
Keywords[pl]=Kalkulator PCB;Kalkulator;
Keywords[pt]=PCB;Calculator;
Keywords[pt_BR]=PCB;Calculator;
Keywords[ro]=PCB;Calculator;
Keywords[ru]=PCB;Calculator;
Keywords[sk]=DPS;Kalkulačka;
Keywords[sr]=PCB;Дигитрон;
Keywords[sv]=Mönsterkort;Beräkningsverktyg;
Keywords[ta]=பிசிபி; கால்குலேட்டர்;
Keywords[tr]=KiCad Baskı Devre Hesaplayıcı;
Keywords[uk]=Друкована плата;Калькулятор;
Keywords[vi]=PCB;Máy tính;
Keywords[zh_CN]=PCB;Calculator;
Keywords[zh_TW]=PCB;Calculator;
Keywords=PCB;Calculator;
GenericName[ca]=Calculadora PCB
GenericName[cs]=Kalkulátor DPS
GenericName[da]=PCB-lommeregner
GenericName[de]=PCB-Rechner
GenericName[el]=Εκτέλεση PCB Calculator
GenericName[en]=PCB Calculator
GenericName[es]=Calculadora de placas
GenericName[es_MX]=Calculadora de placas
GenericName[fi]=PCB laskintyökalu
GenericName[fr]=PCB Calculator
GenericName[he]=מחשבון PCB
GenericName[it]=Calcolatrice C. S.
GenericName[ja]=PCB 電卓
GenericName[ko]=PCB 계산기
GenericName[lt]=PCB Skaičiuoklė
GenericName[nl]=PCB-rekenhulpmiddel
GenericName[no]=PCB-kalkulator
GenericName[pl]=Kalkulator PCB
GenericName[pt]=Calculadora de PCI
GenericName[pt_BR]=Calculadora da PCI
GenericName[ru]=PCB Calculator
GenericName[sk]=PCB kalkulačka
GenericName[sr]=PCB дигитрон
GenericName[sv]=KiCad Beräkningsverktyg
GenericName[ta]=பிசிபி கால்குலேட்டர்
GenericName[th]=เครื่องคิดเลขพีซีบี
GenericName[tr]=Baskı Devre Hesaplayıcı
GenericName[uk]=Калькулятор друкованих плат
GenericName[vi]=Máy tính PCB
GenericName[zh_CN]=PCB 计算器
GenericName[zh_TW]=PCB 計算器
GenericName=PCB Calculator
Comment[cs]=Kalkulačka pro různé výpočty související s elektronikou
Comment[de]=Rechner für verschiedene elektronikbezogene Berechnungen
Comment[el]=Αριθμομηχανή για διάφορους υπολογισμούς σχετιζόμενους με την ηλεκτρονική
Comment[en]=Calculator for various electronics-related computations
Comment[es]=Calculadora para varios cálculos relacionados con la electrónica
Comment[es_MX]=Calculadora para varios cálculos relacionados con la electrónica
Comment[fi]=Laskin erilaisiin elektroniikkaan liittyviin laskelmiin
Comment[fr]=Calculatrice pour divers calculs liés à l’électronique
Comment[he]=מחשבון עבור חישובים אלקטרונים שונים
Comment[hu]=Számológép különféle, elektronikával kapcsolatos számításokhoz
Comment[id]=Kalkulator untuk komputasi berbagai bidang seputar elektronik
Comment[it]=Calcolatrice per vari calcoli relativi ai circuiti elettrici
Comment[ja]=様々な電気関係の計算用ツール
Comment[ko]=여러 전자 관련 계산을 위한 계산기
Comment[nl]=Rekenhulpmiddel voor verscheidene elektronica-gerelateerde berekeningen
Comment[pl]=Kalkulator do różnych obliczeń związanych z elektroniką
Comment[pt]=Calculadora para vários cálculos relacionados à eletrônica
Comment[pt_BR]=Calculadora para vários cálculos relacionados à eletrônica
Comment[ro]=Calculator pentru diverse calcule legate de electronică
Comment[ru]=Калькулятор для вычисления различных электрических параметров
Comment[sk]=Kalkulačka pro různé výpočty související s elektronikou
Comment[sv]=Kalkylator för elektronikrelaterade beräkningar
Comment[ta]=பல்வேறு மின்னணுவியல் தொடர்பான கணக்கீடுகளுக்கான கால்குலேட்டர்
Comment[th]=เครื่องคิดเลขสำหรับการคำนวณที่เกี่ยวข้องกับอิเล็กทรอนิกส์ต่างๆ
Comment[tr]=Elektronikle ilgili çeşitli hesaplamalar için hesap makinesi
Comment[uk]=Калькулятор для різних обчислень, пов'язаних з проектуванням електроніки
Comment[vi]=Máy tính cho các phép tính khác nhau liên quan đến điện tử
Comment[zh_CN]=用于各种电子相关计算的计算器
Comment[zh_TW]=用於各種電子相關計算的計算器
Comment=Calculator for various electronics-related computations
X-AppStream-Ignore=true
